{% extends '@layout/default.html.twig' %}

{% block title %}Material for the spine{% endblock %}

{% block content %}
    <div class="page-content">
        {{ content|raw }}
    </div>
{% endblock %}
