includes:
	#- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/jangregor/phpstan-prophecy/src/extension.neon
	- vendor/phpstan/phpstan-mockery/extension.neon
parameters:
	level: 7
	fileExtensions:
		- php
		- dist
	excludes_analyse:
		- */test/server/expressive/*
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
		- '#Left side of \&\& is always true#'
		# Still issues with prophecy in tests
		- '#Test\:\:\$container contains unresolvable type.#'
		- '#Test\:\:\$template contains unresolvable type.#'

